{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Демо-режим
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}

        <div class="row">
            <div class="control-panel" >
                <button class="prev btn btn-info btn-sm" title="Назад"><i class="fa fa-step-backward fa-fw"></i></button>
                <button class="next btn btn-info btn-sm" title="Вперёд"><i class="fa fa-step-forward fa-fw"></i></button>
                <button class="play btn btn-info btn-sm" title="Старт/Пауза"><i class="fa fa-play fa-fw"></i></button>
                <button class="reset btn btn-warning btn-sm" title="Сброс"><i class="fa fa-fast-backward fa-fw"></i></button>
            </div>
            <p>&nbsp;</p>
            {% include "heapsort/visualizer.html" %}
        </div>

        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}