{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}

    <div class="modal fade" id="modal-test-question">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close dismiss-operation" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h4 class="modal-title">Выберите следующий шаг</h4>
                    </div>
                    <div id="test-question-modal-body" class="modal-body">
                        <form id="test-question-form" enctype="multipart/form-data" action="/heapsort/test/graphic" method="POST">
                            <div id="updatable-form">
                                {% include "heapsort/graphic_include_form.html" %}
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="answer btn btn-info btn-sm" id="answer-button"><i class="fa fa-send fa-fw"></i>Ответить</button>
                    </div>
            </div>
        </div>
    </div>
    <div id="page-wrapper">
        <div hidden>{% include "layout/flashes.html" %}</div>
        <div id="updatable">
            {% include "heapsort/graphic_include.html" %}
        </div>
        <div class="row">
            <div class="control-panel" >
                <button class="ask btn btn-info btn-sm" data-target="#modal-test-question" data-toggle="modal">Следующий вопрос</button>
            </div>
            <p>&nbsp;</p>
            <script type="application/javascript">
                var is_test = true;
            </script>
            {% include "heapsort/visualizer.html" %}
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}