{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Результаты теста #{{ test.id }}
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}

        <div class="row">
            <div class="col-xs-12">
                <ul>
                    {% if session.is_admin %}<li>Пользователь: <a href="/admin/users/{{ user.id }}">{{ user.email }}</a></li>{% endif %}
                    <li>Статус: {{ test.statuses_enum.STATUSES[test.status] }}</li>
                    <li>Создан: {{ test.timecreated }}</li>
                    <li>Время последнего ответа: {{ test.timeupdated }}</li>
                    <li>Сортируемая последовательность: {{ test.collection }}</li>
                    <li>Всего вопросов: {{ test.total_steps }}</li>
                    {% if test.current_step < test.total_steps %}
                    <li>Текущий вопрос: {{ test.current_step }}</li>
                    {% endif %}
                    <li>Результат: {{ result }}&#37; (правильных: {{right_answered}})</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <table id="test_question_table"
                   class="table table-condensed table-striped table-hover"
                   data-search="true"
                   data-toolbar="#custom-toolbar">
                <thead>
                    <tr>
                        <th data-field="id">Raw ID</th>
                        <th data-field="step" data-align="left">Шаг</th>
                        <th data-field="text" data-align="left">Текст ответа</th>
                        <th data-field="is_right" data-align="left">Правильный</th>
                        <th data-field="is_chosen" data-align="left">Выбран</th>
                    </tr>
                </thead>
                <tbody>
                    {% for answer in test.answers %}
                        <tr>
                            <td>
                                {{ answer.id }}
                            </td>
                            <td>
                                {{ answer.on_step }}
                            </td>
                            <td>
                                {{ answer.text }}
                            </td>
                            <td>
                                {% if answer.is_right %}Да{% else %}Нет{% endif %}
                            </td>
                            <td>
                                {% if answer.is_chosen %}Да{% else %}Нет{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "layout/pagination.html" %}
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}