<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">
            Тестирование
        </h1>
        <p>Всего вопросов: <span id="total-questions">{{ total_questions }}</span></p>
        <p>Текущий шаг: <span  id="current-step">{{ current_step }}</span></p>
        <p>Правильных ответов:
            <span  id="answers-count">
                {{ right_answers_count }}
                {% if last_is_right == True %}
                    (последний: <i class="fa fa-check" style="color:green"></i>)
                {% elif last_is_right == False %}
                    (последний: <i class="fa fa-times" style="color:red"></i>)
                {% endif %}
            </span>
        </p>
    </div>
</div>
