{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Тестирование
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}

        <div class="row">
            <div class="col-xs-12">
                <pre>{{ question.text }}</pre>
                <form class="form-horizontal" action="/heapsort/test/question/{{ question.id }}" id="questionAnswersForm" method="POST">
                    {{ wtforms.form_field(form.answers, with_label=True) }}
                    <input class="btn btn-success" type="submit" value="Ответить">
                </form>
            </div>
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}