{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Результаты теста #{{ test.id }}
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}

        <div class="row">
            <div class="col-xs-6">
                <ul>
                    {% if session.is_admin %}<li>Пользователь: <a href="/admin/users/{{ user.id }}">{{ user.email }}</a></li>{% endif %}
                    <li>Статус: {{ test.statuses_enum.STATUSES[test.status] }}</li>
                    <li>Создан: {{ test.timecreated }}</li>
                    <li>Время последнего ответа: {{ test.timeupdated }}</li>
                    <li>Результат: {{ result }}&#37;</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <table id="test_question_table"
                   class="table table-condensed table-striped table-hover"
                   data-search="true"
                   data-toolbar="#custom-toolbar">
                <thead>
                    <tr>
                        <th data-field="id">Raw ID</th>
                        <th data-field="user" data-align="left">Вопрос</th>
                        <th data-field="user" data-align="left">Коллекция</th>
                        <th data-field="status" data-align="left">Шаг</th>
                        <th data-field="status" data-align="left">Статус</th>
                        <th data-field="date_registered" data-align="left">Ответы</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in test.questions %}
                        <tr>
                            <td>
                                {{ question.id }}
                            </td>
                            <td>
                                {{ question.text }}
                            </td>
                            <td>
                                {{ question.collection }}
                            </td>
                            <td>
                                {{ question.sort_step }}
                            </td>
                            <td>
                                {{ question.statuses_enum.STATUSES[question.status] }}
                            </td>
                            <td>
                                <ul class="list-group-item">
                                    {% for answer in question.answers %}
                                        <li class="list-group-item">{{ answer.text }}; {{ answer.is_right}}; {{answer.is_chosen}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "layout/pagination.html" %}
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}