{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Результаты тестов
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}

        <div class="row">
            <div class="col-xs-3">
                <a href="{% if REQUEST_PATH.startswith("/admin") %}/admin{% endif %}/heapsort/tests" class="btn btn-primary btn-large"><i class="icon-th-list"></i>Динамические тесты</a>
            </div>
            <div class="col-xs-3">
                <a href="{% if REQUEST_PATH.startswith("/admin") %}/admin{% endif %}/heapsort/tests/graphic" class="btn btn-primary btn-large"><i class="icon-th-list"></i>Графические тесты</a>
            </div>
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}