{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Тестирование
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}

        <div class="row">
            <div class="col-xs-12">
            <form class="form-horizontal" action="/heapsort/test" id="startTestForm" method="POST">
                    <input type="hidden" name="type" value="dynamic">
                {% if user_has_uncompleted_test %}
                    <input type="hidden" name="continue" value="True">
                    <input class="btn btn-warning pull-left" type="submit" value="Продолжить динамический тест">
                {% else %}
                    <input class="btn btn-warning pull-left" type="submit" value="Начать динамический тест">
                {% endif%}
            </form>
            </div>
            <div class="col-xs-12">
            <p>&nbsp;</p>
            <p>либо</p>
            </div>
            <div class="col-xs-12">
            <form class="form-horizontal" action="/heapsort/test" id="startGrafTestForm" method="POST">
                    <input type="hidden" name="type" value="graphic">
                {% if user_has_uncompleted_graf_test %}
                    <input type="hidden" name="continue" value="True">
                    <input class="btn btn-warning pull-left" type="submit" value="Продолжить графический тест">
                {% else %}
                    <input class="btn btn-warning pull-left" type="submit" value="Начать графический тест">
                {% endif%}
            </form>
            </div>
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}