{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Тесты
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}
        <div class="row">
            <table id="user_tests_table"
                   class="table table-condensed table-striped table-hover"
                   data-search="true"
                   data-toolbar="#custom-toolbar">
                <thead>
                    <tr>
                        <th data-field="id_surr">#</th>
                        <th data-field="id">Raw ID</th>
                        <th data-field="status" data-align="left">Статус</th>
                        <th data-field="result" data-align="left">Результат</th>
                        <th data-field="date_registered" data-align="left">Создан</th>
                        <th data-field="date_updated" data-align="left">Время последнего ответа</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, test in enumerated_tests %}
                        <tr>
                            <td>
                                {{- index -}}
                            </td>
                            <td>
                                {{ test.id }} (<a href="/heapsort/test/{% if 'graphic' in REQUEST_PATH %}graphic/{% endif %}{{ test.id }}/results">к результату</a>)
                            </td>
                            <td>
                                {{ test.statuses_enum.STATUSES[test.status] }}
                            </td>
                            <td>
                                {{ test.result }}&#37;
                            </td>
                            <td>
                                {{ test.timecreated }}
                            </td>
                            <td>
                                {{ test.timeupdated }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "layout/pagination.html" %}
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}