            <div id='root'>
                <script type="application/javascript">
                    var OperationsList = {{ operations_list|safe }};
                    var op_symbol = "{{ op_symbol|safe }}";
                </script>
                <div class="visualization-controller" id="tpl">
                    <div class="main-panel">
                        <div class="visualizer-container">
                        </div>
                        <div class="operations-list">
                            <select multiple="true">
                            </select>
                        </div>
                    </div>
                    <div class="status-message" >
                        <p class="status-message-p">Операция</p>
                    </div>
                </div>
            </div>