<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/admin" {% if REQUEST_PATH == "/admin" %}class="active" {% endif %}>
                    <i class="fa fa-dashboard fa-fw"></i> Основное
                </a>
            </li>
            <li>
                <a href="/admin/users" {% if REQUEST_PATH.startswith("/admin/users") %}class="active" {% endif %}>
                    <i class="fa fa-users fa-fw"></i> Пользователи
                </a>
            </li>
            <li>
                <a href="/admin/heapsort/tests/nav" {% if REQUEST_PATH.startswith("/admin/heapsort/test") %}class="active" {% endif %}>
                    <i class="fa fa-list fa-fw"></i> Результаты
                </a>
            </li>
        </ul>
    </div>
</div>