{% if session.flash_count %}
    {% for message in session.flash_yield(kind="error") %}
        <div class="alert alert-danger">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            {{ message.text }} {% if message.url %}<a href="{{ message.url }}">перейти</a>. {% endif %}
            <button class="close" data-dismiss="alert">×</button>
        </div>
    {% endfor %}

    {% for message in session.flash_yield(kind="warning") %}
        <div class="alert alert-warning">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            {{ message.text }} {% if message.url %}<a href="{{ message.url }}">перейти</a>. {% endif %}
            <button class="close" data-dismiss="alert">×</button>
        </div>
    {% endfor %}

    {% for message in session.flash_yield(kind="success") %}
        <div class="alert alert-success">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            {{ message.text }} {% if message.url %}<a href="{{ message.url }}">перейти</a>. {% endif %}
            <button class="close" data-dismiss="alert">×</button>
        </div>
    {% endfor %}

    {% for message in session.flash_yield() %}
        <div class="alert alert-info">
            {{ message.text }} {% if message.url %}<a href="{{ message.url }}">перейти</a>. {% endif %}
            <button class="close" data-dismiss="alert">×</button>
        </div>
    {% endfor %}
{% endif %}