    </div>
        <script src="{{ STATIC }}/vendors/jquery/jquery-1.11.3.min.js"></script>
        <script src="{{ STATIC }}/vendors/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC }}/vendors/bootstrap-table-1.9.1/src/bootstrap-table.js"></script>
        <script src="{{ STATIC }}/vendors/jquery-tables/1.10.10/js/jquery.dataTables.min.js"></script>
        <script src="{{ STATIC }}/vendors/jquery-tables/1.10.10/js/dataTables.bootstrap.min.js"></script>
        <script src="{{ STATIC }}/vendors/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
        <script src="{{ STATIC }}/vendors/alertify.js/lib/alertify.min.js"></script>
        <script src="{{ STATIC }}/vendors/moment.js/moment.min.js"></script>
        <script src="{{ STATIC }}/vendors/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
        <script src="{{ STATIC }}/vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="{{ STATIC }}/vendors/d3/d3.min.js"></script>
        <script src="{{ STATIC }}/custom/js/site.js"></script>
        <script src="{{ STATIC }}/custom/js/heapsort.js"></script>
    </body>
</html>