<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/" {% if REQUEST_PATH == "/" %}class="active" {% endif %}>
                    <i class="fa fa-dashboard fa-fw"></i> Главная
                </a>
            </li>
            <li>
                <a href="/heapsort/demo" {% if REQUEST_PATH == "/heapsort/demo" %}class="active" {% endif %}>
                    <i class="fa fa-play fa-fw"></i>Демо
                </a>
            </li>
            <li>
                <a href="/heapsort/test" {% if REQUEST_PATH.startswith("/heapsort/test") and not REQUEST_PATH.startswith("/heapsort/tests") and not REQUEST_PATH.endswith("results") %}class="active" {% endif %}>
                    <i class="fa fa-question fa-fw"></i>Тест
                </a>
            </li>
            <li>
                <a href="/heapsort/tests/nav" {% if REQUEST_PATH.startswith("/heapsort/tests") or REQUEST_PATH.endswith("results") %}class="active" {% endif %}>
                    <i class="fa fa-list fa-fw"></i> Результаты
                </a>
            </li>
        </ul>
    </div>
</div>