<ul class="nav navbar-top-links navbar-right">

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#" class="btn btn-info btn-sm disabled">
                    <span class="glyphicon glyphicon-info-sign">
                    </span>&nbsp;{{ session.data.get("email") }}
                </a>
            </li>
            <li>
                <a href="/users/profile">
                    <i class="fa fa-user fa-fw"></i> Профиль
                </a>
            </li>
            <li class="divider"></li>
            {% if REQUEST_PATH.startswith("/admin") %}
            <li><a href="/"><i class="fa fa-home fa-fw"></i> Сервис</a>
            {% endif %}
            {% if session.data.get("is_admin") and not REQUEST_PATH.startswith("/admin") %}
            <li><a href="/admin"><i class="fa fa-key fa-fw"></i> Админка</a>
            </li>
            <li class="divider"></li>
            {% endif %}
            <li>
                <a href="/users/logout">
                    <i class="fa fa-sign-out fa-fw"></i> Выход
                </a>
            </li>
        </ul>
    </li>
</ul>