{%- macro form_field(field) -%}
    {% set with_label = kwargs.pop('with_label', False) %}
    {% set placeholder = kwargs.pop('placeholder', False) %}

    {%- if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif -%}

    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {%- if with_label %}
        <label for="{{ field.id }}" class="control-label">
            {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
        </label>
        {% endif -%}

        <div class="controls">
            {%- set class_ = kwargs.pop('class_', 'form-control') -%}

            {%- if field.flags.required %}
                {% set class_ = class_ + ' required' %}
            {% endif -%}

            {%- if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {%- elif field.type == 'RadioField' %}
                <label class="radio">
                    {{ field(class_="form-control-1", **kwargs) }}
                </label>
            {% else %}
                {%- if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                    {%- set class_ = class_ + ' input-xlarge' %}
                {%- elif field.type == 'FileField' %}
                    {% set class_ = class_ + ' input-file' %}
                {%- endif %}
            {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
            {%- endif -%}

            {%- if field.errors %}
                <p class="help-block">{{ field.errors|join(', ') }}</p>
            {% endif -%}

            {%- if field.description %}
                <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}
        </div>
    </div>
{%- endmacro %}


{%- macro checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
            {{ field.label.text|safe }}
        </label>
    </div>

    {%- if field.errors %}
        <p class="help-block">{{ field.errors|join(', ') }}</p>
    {% endif -%}

    {%- if field.description %}
        <p class="help-block">{{ field.description|safe }}</p>
    {% endif %}
{%- endmacro %}

{%- macro form_errors(form) %}
    {%- if form.errors %}
        <div class="alert alert-danger">
            <strong>Errors:</strong>
            <ul>
            {% for field, errors in form.errors.iteritems() %}
                <li>{{ form[field].label.text }}: {{ ', '.join(errors) }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{%- endmacro %}