{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Пользователи
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}
        <div class="row">
            <div class="col-xs-2">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control user-ident-search-form" placeholder="Поиск по email или ID">
                    <span class="input-group-btn">
                        <a href="#" class="user_search btn btn-default">
                            <i class="fa fa-search"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <table id="admin_users_table"
                   class="table table-condensed table-striped table-hover"
                   data-search="true"
                   data-toolbar="#custom-toolbar">
                <thead>
                    <tr>
                        <th data-field="id_surr">#</th>
                        <th data-field="id">Raw ID</th>
                        <th data-field="user" data-align="left">Пользователь</th>
                        <th data-field="date_registered" data-align="left">Зарегистрирован</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, user in enumerated_users %}
                        <tr>
                            <td>
                                {{- index -}}
                            </td>
                            <td>
                                {{ user.id }}
                            </td>
                            <td>
                                <a href="/admin/users/{{ user.id }}">{{ user.email }}</a>
                            </td>
                            <td>
                                {{ user.datecreated }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "layout/pagination.html" %}
        </div>
        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}