{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Регистрация
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6">
                <form class="form-horizontal" action="/users/register" method="POST">
                    {{ wtforms.form_field(form.email, with_label=True, placeholder="Например, user@site.ru") }}
                    {{ wtforms.form_field(form.password, with_label=True) }}

                    <div class="row">
                        <br />
                        <div class="col-xs-8">
                            <a href="/users/password/request">Забыли пароль?</a>
                        </div>

                        <div class="col-xs-4">
                            <input class="btn btn-success" type="submit" value="Отправить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% include "layout/footer.html" %}

